@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #FDDAD3;
    font-family: 'Baloo 2', sans-serif;
    font-weight: lighter;
}

header{
    background-color: black;
    top: 0;
    width: 100%;
    height: 45px;
    text-align: center;
    position: fixed;
    z-index: 10;
}
header img{
    margin-top: 6px;
}
.divisao {
    margin-top: 5%;
}

#flores {
    position: absolute;
    right: 10px;
    top: 1px;
    z-index: -10;
}

#florespt2 {
    position: absolute;
    top: 90%;
    left: -2%;
    z-index: -10;
}

#florespt3 {
    position: absolute;
    right: 0px;
    top: 175%;
    z-index: -10;
}

#florespt4 {
    position: absolute;
    bottom: -240%;
    left: -25px;
    z-index: -10;
}

#florespt5 {
    position: absolute;
    right: 0.1px;
    top: 230%;
    z-index: -10;
}

#sobremim {
    color: white;
    font-size: 64px;
    text-align: center;
    margin-top: 50px;

}

#BlocoApresentacao {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#me {
    position: absolute;
    right: 56%;
    margin-top: -7%;
}

#nome {
    position: absolute;
    color: #C8BC46;
    font-size: 45px;
    top: -6%;
    left: 50%;
}

#textoMe {
    position: absolute;
    color: white;
    font-size: 13px;
    text-align: end;
    top: 16%;
    right: 27.2%;
}

#textoCuriosidade {
    color: #FF8793;
    font-size: 28px;
    position: absolute;
    top: 72%;
    right: 30%;
}

#listacurious {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 82.7%;
    right: 27.9%;
}



#eueBia {
    position: absolute;
    border: solid, 2px, #C8BC46;
    border-radius: 30px;
    top: 76%;
    right: 44.5%;
}


#eueHelena {
    position: absolute;
    top: 89.6%;
    right: 44.5%;
    border: solid, 2px #FF8793;
    border-radius: 30px;
}

#insta {
    position: absolute;
    top: 74.5%;
    left: 24.9%;

}


#BlocoLugaresQueConheci {
    background-color: white;
    border-radius: 50px;
    width: 1000px;
    height: 550px;
    z-index: 10;
    margin: 0 auto;
    margin-top: 5%;

}

.divonaLugares {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 5px;
}


#BlocoLugaresQueConheci h1{
    font-size: 48px;
    color: #C8BC46;
    padding-top: 30px;
    text-align: center;
    
}

#BlocoLugaresQueConheci a{
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.lugaresConheci{
    color: #FF8793;
    font-weight: 500;
}

#Goias li{
    margin-left: 35px;
    font-weight: 500;
}
#Goias a{
    margin-left: 40px;
    font-weight: 500;
}

#Arraial li{
    margin-left: 12px;

}

#Arraial a {
    margin-left: 35px;
    font-weight: 500;
}

#Eden li{
    margin-left: 15px;
}

#Eden a{
    margin-left: 25px;
    font-weight: 500;
}

#LugaresQQueroConhecer {
    background-color: white;
    border-radius: 50px;
    width: 1000px;
    height: 550px;
    gap: 25px;
    z-index: 10;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
}

#LugaresQQueroConhecer h1{
    font-size: 48px;
    color: #FF8793;
    padding-top: 30px;
    text-align: center;
}

.divonaLugares img{
    border-radius: 20px;
}

#LugaresQQueroConhecer ol{
    display: flex;
    gap: 20%;
    margin-left: 160px;
}

#LugaresQQueroConhecer li{
    font-weight: 500;
    color: #C8BC46;
}

#veneza{
    margin-left: 20px;
}

#LugaresQQueroConhecer a{
    color: black;
    font-size: 12px;
    font-weight: 500;
}

#linksConhecer {
    display: flex;
    gap: 10px;
}

#alpes{
    margin-left: 149px;
}

#angra{
    margin-left: 50px;
}

#veneza-italia{
    margin-left: 85px;
}

footer{
    position: fixed;
    background-color: black;
    color: pink;
    text-align: center;
    width: 100%;
    height: 20px;
    bottom: 0;
}
