body{
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    Font-family: arial; 
}

#HeaderpaginaInicial{  
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    gap: 30px;
    background-color: rgb(0, 0, 0);

}

#logotipo{
    margin-left: 460px;
    margin-top: 10px;
}

#coisinhas{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-left: 300px;
    
} 

table{
    color: white;
    background-color: rgb(16, 16, 16);
    width: 600px;
    border-spacing: 20px;
    text-align: center;
    border-radius: 20px;

}

#maisVistos{
    margin-top: 120px;
}

#Recomendados{
    margin-bottom: 60px;
}

.data_lancamento{
    color: rgb(196, 196, 196);
}


button{
    background-color: rgb(28,28,28);
    border-radius: 5px;
    padding: 8px;
}


a{
    color: white;
}


button:hover{
    background-color: rgb(250, 0, 0);
    padding: 5px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}


#AVATAR:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 150px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}

#ARISU:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 150px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}

#BicoDoce:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 150px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}
#HOME:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 150px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}

#REGINA:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 150px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}

#Zootopia:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 150px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}

#AVATAR2:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 180px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}

#SININHO:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 180px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}
#MIRANHA:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 180px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}

#B99:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 180px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}

#PONYY:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 180px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}

#SING:hover{
    background-color: rgb(28, 28, 28);
    padding: 300px 15px 180px 15px;
    transform: scale(1.1);    
    transition: 0.2s;
    border-radius: 5px;
}


.headerFav{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 5px;
}

#tituloFav{
    margin-top: 70px;
    margin-left: 15px;
}

#favoritados{
    border-spacing: 25px;
}


#headerPerfil{
    margin-top: -20px;
}
#nomePerfil{
    background-color: gray;
    width: 300px;
    height: 20px;
    border-radius: 15px;
}   
#senha{
    background-color: gray;
    width: 300px;
    height: 20px;
    border-radius: 15px;
}
#email{
    background-color: gray;
    width: 300px;
    height: 20px;
    border-radius: 15px;
}

#foto{
    margin-left: 80px;
}

#principal{
    display: flex;
    justify-content: center;
}

.headerSinopse{
    margin-top: 10px;
}

#fotoEInfoOUAT{
    margin-top: 20px;
    display: flex;
    gap: 50px;
    margin-left: 320px;
}

.fotoEInfo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    gap: 50px;
}


.sinopse{
    margin-left: 10px;
    margin-top: 70px;
    display: block;
    justify-content: center;
}

.atores{
    color: rgb(92, 92, 210);
}

.fotoEInfoOUAT{
    margin-left: 350px;
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.fotozinha{
    margin-top: 30px;
}   

.infosImportanteAB{
    margin-top: -30px;
}


.infosImportante{
    margin-top: -25px;
    margin-left: -20px;
}

#fotoeinfoZootopia{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-left: 280px;
}


.headerReview{
    background-color: black;
    width: 100%;
    position: fixed;
    
}


footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 148, 162);
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
}

